/* FUENTE */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Skranji:wght@400;700&display=swap");

/* RESETEO */
/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Skranji", cursive;
}

/* HEADER - MENU */
/*header {
  background-image: url(../img/pexels-life-of-pix-8892.jpg);
  background-size: cover;
  background-repeat: repeat;
  position: sticky;
  top: 0px;
  width: 100%;
  max-height: 8rem;
}

div {
  text-align: center;
}

.logoPrincipal {
  width: 14rem;
  height: 7.5rem;
  position: relative;
  top: 0.3rem;
  right: 25rem;
}

ul li {
  -webkit-text-stroke: 1px yellow;
  display: inline;
  font-size: x-large;
  position: relative;
  bottom: 4.5rem;
  left: 10rem;
  margin: 1rem;
}

ul li a {
  -webkit-text-stroke: 1px black;
  color: #dfdfdf;
  text-decoration: none;
}

.activa {
  -webkit-text-stroke: 1px yellow;
  color: #eb0005;
  text-decoration: none;
}

a:hover {
  color: #eb0005;
  -webkit-text-stroke: 1px yellow;
}
/* HEADER - MENU */

/* CONTENIDO PRINCIPAL */
/*.fondo {
  background-image: url(../img/back-florest-JP.jpg);
  background-repeat: repeat;
  background-position: 100%;
}

h3 {
  color: rgb(255, 255, 255);
  text-align: center;
}

p {
  color: rgb(255, 255, 255);
  padding: 5% 20%;
  text-align: center;
}

.tituloMenu {
  padding-top: 5%;
  padding-bottom: 20px;
  text-align: center;
  font-size: large;
  -webkit-text-stroke: 1px #eb0005;
  color: yellow;
}

nav ol li {
  padding: 1% 0%;
  margin: 3% 25%;
  color: white;
}

legend {
    -webkit-text-stroke: 1px #eb0005;
    color: yellow;
}

fieldset {
    border-radius: 15px;
    padding: 15px;
}

form {
    color: white;
    width: 50%;
    margin: 5rem 18rem;
}

/* CONTENIDO PRINCIPAL */

/* PIE DE PAGINA */
/*footer {
  background-image: url(../img/pexels-life-of-pix-8892.jpg);
  background-size: cover;
  width: 100%;
}

.cuerpoFooter{
    position: relative;
}


div.redes{
    display: inline-block;
}

div.redes img {
  width: 5rem;
  height: 5rem;
  display: inline;
  position: relative;
  left: 28rem;
  margin: 1px;
}

div p a {
    -webkit-text-stroke: 1px black;
    color: #dfdfdf;
    text-decoration: none;
    position: relative;
    left: 27rem;
    margin: 1rem;
}
/* PIE DE PAGINA */
