/* FUENTE */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Skranji:wght@400;700&display=swap");

*{
  font-family: "Skranji", cursive;
}

/* HEADER - MENU */
.header {
  background-image: url(../img/fondo-piedra.jpg);
  background-size: cover;
  position: sticky;
}

ul li {
  -webkit-text-stroke: 1px yellow;
  font-size: x-large;
}

.activa {
  -webkit-text-stroke: 1px yellow;
  color: #eb0005;
}

.inactiva {
  -webkit-text-stroke: 1px black;
  color: #dfdfdf;
}


a.activa:hover, a.inactiva:hover {
  color: #eb0005;
  -webkit-text-stroke: 1px yellow;
}

/* HEADER - MENU */

/* CONTENIDO PRINCIPAL */
.size-slider {
  width: 100vw;
  height: 26rem;
}


.fondo {
  background-image: url(../img/back-florest-JP.jpg);
  background-repeat: repeat;
  background-size: cover;
}

/* h3 {
  color: rgb(255, 255, 255);
  text-align: center;
} */

p {
  color: rgb(255, 255, 255);
  padding: 5% 20%;
  text-align: center;
}

.tituloMenu {
  padding-top: 5%;
  padding-bottom: 20px;
  text-align: center;
  font-size: large;
  -webkit-text-stroke: 1px #eb0005;
  color: yellow;
}

.invitacion1-2 {
  width: 80vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #536976;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: solid 5px #292E49;
  border-radius: 2rem;
}

h1.tituloInvitacion1, h1.tituloInvitacion2 {
  padding-top: 2rem;
  margin-top: 0.5;
  text-align: center;
  font-size: 2rem;
  -webkit-text-stroke: 1px black;
  color: #dfdfdf;
}

.imgInvitacion1 {
  margin: 2rem 4rem 2rem 0;
  width: 25rem;
	height: 18rem;
  border: solid 2px #292E49;
  border-radius: 3%;
}

.imgInvitacion2 {
  margin: 2rem 0 2rem 4rem;
  width: 22rem;
	height: 23rem;
  border: solid 2px #292E49;
  border-radius: 3%;
}

nav ol li {
  padding: 1% 0%;
  margin: 3% 25%;
  color: white;
}

legend {
    -webkit-text-stroke: 1px #eb0005;
    color: yellow;
}

fieldset {
    border-radius: 15px;
    padding: 15px;
}

form {
    color: white;
    width: 50%;
    margin: 5rem 18rem;
}

/* CONTENIDO PRINCIPAL */

/* PIE DE PAGINA */
.footer {
  background-image: url(../img/fondo-piedra.jpg);
  background-size: cover;
  padding: 20px 0px 5px 0px;
}

p.redes{
    margin: 5px 5px;
    padding: 5px 5px;
}
/* PIE DE PAGINA */
